# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakefiles
Makefile
cmake_install.cmake

CMakeFiles/
ccdensity/CMakeFiles/
ccenergy/CMakeFiles/
cchbar/CMakeFiles/
cclambda/CMakeFiles/
ccsort/CMakeFiles/
cctriples/CMakeFiles/
itrf/CMakeFiles/

psi4/*.pyc
*~
*/*~
test/out_h2o
test/timer.dat

